*{
    font-family: Garamond,serif;
    text-align: center;
    list-style-position: inside;
    background-color:rgb(194, 194, 82) ;
    font-size: 20px;
}

h1, .ingredients {
    
    font-size: 50px;
}

.ingredients {
    font-size: 40px;
    color: green;
}

img,.grill_pic {
    width:400px;
    height:auto;
    
}

.intro {
      background-color: rgb(91, 91, 174);
    color: white;
}

h4,.side {
    text-align: left;
    color: brown;
    font-size: 20px;
}