.recipe { 
    font-family: "times new roman", serif;
    font-size: large;
    
}

.grill-cheese {
    color: rgb(154, 154, 26);
}

.pancakes {
    color: brown;
}

.chili {
    color: rgb(97, 35, 35);
}